@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffd9f2;
  --foreground: #171717;
}

@theme {
  --color-pale-pink: #fff0fb;
  --color-brand-pink: #ffaae5;
  --color-light-pink: #ffd9f2;
  --color-mint-green: #66ffcc;
  --color-cheery-yellow: #ffcc00;
  --color-deep-pink: #cc66a0;
  --color-purple-pop: #6a1b9a;
  --font-montserrat: "Montserrat", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
